<div>
  <h1>Restaurantes</h1>
</div>

<%= render partial: 'search_bar' %>

<p>
<table class="table table-striped">
  <tr class="thead-dark">
    <th scope="col">delete</th>
    <th scope="col">edit</th>
    <th scope="col", class="col-sm-6">Restaurante</th>
  </tr>
  <% @restaurantes.each do |restaurante| %>
    <tr>
      <td scope="row"><%= link_to 'Excluir', restaurante_path(restaurante.id), method: :delete %></td>
      <td><%= link_to 'Editar', edit_restaurante_path(restaurante.id) %></td>
      <td><%= restaurante.name %></td>
    </tr>
  <% end %>
</table>
