env:
  global:
    - CC_TEST_REPORTER_ID=6c95395029a6f498237ec1223764d5b5af87c6033e34cfe5cf9619344a86c0bb

services:
  - postgresql

addons:
  postgresql: '9.6'

before_script:
  - cp config/database.yml.travis config/database.yml
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

language: ruby

rvm:
  - 2.5.3

script:
  - bundle exec rails db:reset db:setup db:migrate RAILS_ENV=test
  - bundle exec rspec
  - bundle exec rubocop --config .rubocop.yml

before_install:
  - gem update --system
  - gem install bundler

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
