<p>
<div class="container-fluid">
  <%= image_tag("pub.jpeg", class: 'rounded mx-auto d-block', alt: 'Restaurante') %>
  <p>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Sistema de Cadastro de Restaurantes</h1>
    </div>
  </div>
</div>
